asciimatics==1.12.0
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.4
backcall==0.1.0
bleach==3.1.5
boto3==1.17.36
botocore==1.20.36
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configobj==5.0.6
configparser==5.0.2
contextlib2==0.6.0.post1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
docopt==0.6.2
entrypoints==0.3
Flask==2.0.2
future==0.18.2
grader==1
idna==2.10
iniconfig==1.1.1
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.0
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
opencv-python==4.2.0.34
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==8.1.2
pluggy==1.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
py==1.11.0
pycodestyle==2.6.0
pyfiglet==0.8.post1
Pygments==2.6.1
pykwalify==1.8.0
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.2.5
python-dateutil==2.8.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.1
qtconsole==4.7.3
QtPy==1.9.0
ratelimit==2.2.1
regex==2021.3.17
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.6
schema==0.7.4
semver==2.13.0
Send2Trash==1.5.0
six==1.14.0
tabulate==0.8.9
terminado==0.8.3
terraform-executor==0.13.5
terraform-manager==0.6.1
terraform-plugin==0.0.0
terraform-validator==0.6.42
testpath==0.4.4
timeago==1.0.15
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.11
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==3.5.1
youtube-dl==2020.9.20
