# Python CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.10

    working_directory: ~/repo

    parallelism: 2
    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      # Step 3: run Unit  tests
      - run:
          name: Run Unit tests
          command: |
            . venv/bin/activate
            python  -m pytest -sv

      # Step 4: End Test
      - run:
          name: Run Unit tests
          command: |
            . venv/bin/activate
            echo "___________TEST PASSED_________________________"
            echo "___________S U C C E S S !!!_________________________"
